[project]
	state = active
	description = Parent project to grant read to Anonymous Users
[receive]
	requireContributorAgreement = true
[access "refs/*"]
	read = group Anonymous Users
[access "refs/for/refs/heads/*"]
	push = group Registered Users
	pushMerge = group Registered Users
[access "refs/heads/*"]
	forgeAuthor = group Registered Users
	label-Code-Review = -1..+1 group Registered Users
