[project]
	description = Parent project enabling Anonymous Users read
[receive]
	requireContributorAgreement = true
	requireSignedOffBy = false
	requireChangeId = true
[submit]
	mergeContent = true
[dashboard]
	default = refs/meta/dashboards/default:recent
[access "refs/*"]
	read = group Anonymous Users
	owner = group google/gerritcodereview-maintainers@googlegroups.com
[access "refs/for/refs/heads/*"]
	push = group Registered Users
	pushMerge = group Registered Users
[access "refs/heads/*"]
	forgeAuthor = group Registered Users
	label-Code-Review = -2..+2 group Project Owners
	label-Code-Review = -1..+1 group Registered Users
	label-Verified = -1..+1 group Diffy Cuckoo
	label-Verified = -1..+1 group Project Owners
	submit = group Project Owners
	editTopicName = +force group Project Owners
[access "refs/meta/config"]
	push = group Project Owners
	push = group google/gerritcodereview-maintainers@googlegroups.com
	read = group Project Owners
	read = group google/gerritcodereview-maintainers@googlegroups.com
	label-Code-Review = -2..+2 group Project Owners
	label-Code-Review = -2..+2 group google/gerritcodereview-maintainers@googlegroups.com
	label-Verified = -1..+1 group Project Owners
	label-Verified = -1..+1 group google/gerritcodereview-maintainers@googlegroups.com
	submit = group Project Owners
	submit = group google/gerritcodereview-maintainers@googlegroups.com
[access "refs/for/refs/meta/config"]
	push = group Project Owners
	push = group google/gerritcodereview-maintainers@googlegroups.com
	pushMerge = group Project Owners
	pushMerge = group google/gerritcodereview-maintainers@googlegroups.com
